.container {
    max-width: 100%;
    box-sizing: border-box;
    position: relative; // Change to relative
    z-index: 999;
}

.navbar {
    margin: 0;
    width: 100%; // Change to 100% to take full width
    background-color: blue;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed; // Change to fixed
    top: 0;
    z-index: 1000;
    list-style-type: none;
    transition: all 0.2 ease-in-out;
}

.show {
    display: flex;
}

span {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding: 1px;
    float: left; // Float the span to the left
    margin-left: 5px; // Adjusted margin to move it more to the left
    position: fixed; // Change to fixed
    left: 5px; // Adjusted the left position as needed
    top: 5px; // Adjust the top position as needed
    font-size: 30px;
    border-radius: 5px;
     // Invert the background color of the elements below it
}

.navbar ul {
    list-style-type: none; /* Remove list dots */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.navbar li {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    width: 80%;
    font-size: 80px;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, white, white);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s ease, color 0.5s ease;
}

.navbar a:hover {
    color: white;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position as needed */
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar-toggle {
    z-index: 10000;
}
