.main {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    width: 100%;
    height: 100%;
    max-width: 100%; /* Ensure content does not exceed viewport width */
    box-sizing: border-box;
    padding: 30px;
    overflow: auto; /* Allow scrolling */
    margin-bottom: 10vh;
}

.left-content, .right-content {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.right-content {
    text-align: center;
    margin-top: 10px; /* Adjust the value as needed */
}

.main h1 {
    font-size: 5rem; /* Use responsive units */
}

b {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, black, black);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s ease, color 0.5s ease;
}

b:hover {
    color: blue;
}

b::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position as needed */
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background: blue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

b:hover::after {
    transform: scaleX(1);
}

